.navbar {
  background-color: #5a5a5a;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  align-items: center;
}
.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: Roboto;
}
.nav-link {
  font-size: 20px;
  color: white;
}
.logout {
  background-color: #d3d3d3;
  width: 100px;
}
.nav-link-1 {
  text-decoration: none;
}
